body{
    background: #0d1521;
    font-family: tahoma;
    color: #989898;
}

#todo-table{
    position: relative;
    max-width: 45%;
    background: #090d13;
    margin: 60px auto;
    padding: 20px;
    box-sizing: border-box;
}

#todo-table form:after{
    margin: 0;
    content: '';
    display: block;
    clear: both;
}
form{
    display: grid;
    grid-template-columns:repeat(4,1fr) ;
    grid-gap: 10px;
}
input[type="text"]{
    /* width: 70%; */
    padding: 20px;
    background:#181c22;
    border: 0;
    font-size: 16px;
    color: #989898;
    grid-column: 1/4;
}

button{
    padding: 5px 10px ;
    border-radius: 10px;
    border: 1px solid white;
    background: #23282e;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    grid-column: 4/5;
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    font-family: arial;
    font-size: 16px;
    cursor: pointer;
    letter-spacing: 1px;
    
}
li:nth-child(2n) {
   background: #4f67881a;
}

li:hover{
    text-decoration: line-through;
    background: rgba(0,0,0,0.2);
}

span {
    background: #ef4c3c;
    height: auto;
    padding: 5px;
    margin-right: 20px;
    text-align: center;
    color: white;
    width: 0px;
    display: inline-block;
    transition: 0.4s linear;
    opacity: 0;

}
li:hover span {
    width: 40px;
    opacity: 1.0;
}

@media screen and (max-width:762px){
    li{
        text-align: center;

    }
}